{% extends 'GuepeCrmBankBundle::layout.html.twig' %}

{% block title %}Index{% endblock %}

{% block content %}

<div id="home">
	
	<center>
	<img valign="middle" src="{{ asset('bundles/guepecrmbank/images/bank-crm.png') }}" >
	</center>
	<br/>
	<div class="div-round-border">
		<h2>A venir</h2>
		<ul>
			<li>DONE: Finalisation des produits (détail des champs)</li>
			<li>Intégration de documents</li>
			<li>Gestion avancée des utilisateurs</li>
			<li>Impression de fiches</li>
			<li>Suppression des contacts, produits, comptes (Account)</li>
	</div>
	<br/>
	<div style="height:100px; background-image:url('{{ asset('bundles/guepecrmbank/images/peoples.jpg') }}')">
		&nbsp;
	</div>


	
</div>

{% endblock %}
