{% extends 'GuepeCrmBankBundle::layout.html.twig' %}

{% block title %}Index{% endblock %}

{% block content %}

<Div class="gtd-base">
	<h1>Collect</h1>
	<div class="gtd-postit">
		lorem ipsum 
	</div>
</Div>
<Div class="gtd-base">
	<h1>DO</h1>
	<div class="gtd-postit">
		lorem ipsum 
	</div>
</Div>
<Div class="gtd-base">
	<h1>Done</h1>
	<div class="gtd-postit">
		lorem ipsum 
	</div>
</Div>


{% endblock %}
