#*
*$
*.BAK
*.Z
*.bak
*.class
*.elc
*.ln
*.log
*.merge-left*
*.merge-right*
*.mine
*.o
*.obj
*.olb
*.old
*.orig
*.prej
*.pyc
*.pyo
*.rej
*.working
*/.git/*
*~
,*
.#*
.DS_Store
.del-*
.deployables
.make.state
.nse_depinfo
.svn
CVS.adm
RCS
RCSLOG
SCCS
_$*
_svn
svn-commit*.tmp
Symfony/app/cache
_work/both.csv
Symfony/web/bundles*
Symfony/web/bundles/framework
Symfony/web/bundles/guepecrmbank
Symfony/web/bundles/guepeuser
Symfony/web/bundles/sensiodistribution
Symfony/web/bundles/webprofiler
_work
_work/import.php
_work/import.php
Symfony/app/build
.settings
*/web/uploads/*
.idea/*.*
Symfony/vendor/*
.idea/workspace.xml
