{% extends 'GuepeCrmBankBundle::layout.html.twig' %}

{% block title %}Ajout de produit banquaire{% endblock %}

{% form_theme form 'GuepeCrmBankBundle:Form:fields.html.twig' %}


{% block content %}



<form action="" method="post" {{ form_enctype(form) }}>
    <table>
    {{ form_widget(form) }}
    </table>
    <p>
        <button type="submit">Enregistrer</button>
    </p>
</form>
{% endblock %}