{% extends 'GuepeCrmBankBundle::layout.html.twig' %}

{% block title %}Index{% endblock %}

{% block content %}

<div class="hero-unit">
		<h1><img valign="middle" src="{{ asset('bundles/guepecrmbank/images/bank-crm.png') }}" ></h1>
	
<div class="alert alert-block alert-info fade in">
            <a class="close" data-dismiss="alert" href="#">&times;</a>	
		<h2>A venir</h2>
	<p>	
		<ul>
			<li>Intégration de documents</li>
		</ul>
	</p>
</div>
</div>
{% endblock %}
