{% extends 'GuepeCrmBankBundle::layout.html.twig' %}

{% block title %}Ajout de produit banquaire{% endblock %}


{% block content %}
<form action="" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>
{% endblock %}