html, body, form, fieldset {
    margin: 0;
    padding: 0;
}


button,
a.btn,
input[type="submit"],
input[type="reset"],
input[type="button"]{
font-family: "Trebuchet Ms", arial, verdana, sans-serif;
}


html, body {
    color: #000;
    //font: normal 90% Tahoma, Verdana, Helvetica, Sans-Serif;
    background-color: #DDD;
    font-family: "Trebuchet Ms", arial, verdana, sans-serif;
    height: 100%;
    width: auto;
    
}



h2 {
	font-size: large;
	font-variant: small-caps; 
	}
	
.gtd-base {
	background-color: #EEE;
	border-color: #000;
	border-style: dotted;
	border-width: thin; 
	padding: 5px;
	border-radius: 	5px;
    box-shadow: 3px 3px 3px #888;
    float:left;
    width:30%;
}

.gtd-postit {
	background-color: #bbb;
	border-color: #bbb ;
	border-style: dotted;
	border-width: thin; 
	padding: 5px;
	border-radius: 	5px;
    box-shadow: 3px 3px 3px #888;
}

a {
    color: #4c9ac9;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#page {    
    background-color: #DDD;
    margin: 0; /* changed from 1em 5% */
}

#centerpane {
    padding-top: 1em;
	margin: 1em 2em 0 200px;
    background-color: white;
	border-width: thin;
	border-style: inset;
	border-color:black;
}

#content {
	padding: 5px;
}

#footer {
	width:100%;
    text-align: center;
    color: #999;
    font-size: 85%;
	height: 35px;
	border-top:thin solid;
	vertical-align:middle;
	bottom:0px;
    position:fixed;
    background-color: #FFF;
    clear: both;
	}

div#menu {
    list-style: none;
    float: left;
	width: 160px;
	margin-left: 10px;
	padding-top: 1em;
	border-bottom:solid #000 thin;
}

ul#menu {
	list-style: none;
}

.warning {
	background-color: #FFAEAE;
	border-color: #c33;
	border-style: inset;
	border-width: thin;	
	margin:0 auto;
}

#menu li {    
    padding: 0;
    
}

#menu a {
    font-size: 130%;
    font-variant: small-caps;
    text-decoration: none;
    color:#7ca60a;
}

#banner {
    margin: 0;
    background-color: #234098;
    height: 25px;
	padding: .5em;
    border-bottom: medium solid #57afe6;
    font-size: large;	
}

#banner a {
	color:white;
	}

#connexion {
    float:right;
    margin-top:-130px;
}


	
	

.headblock-element {
	background-color: #def1fa;
	border-color: #57afe6;
	border-style: dotted;
	border-width: thin; 
	padding: 5px;
	border-radius: 	5px;
    box-shadow: 3px 3px 3px #888;
	}
.headblock-element h1{
	margin: 0px;
	font-size: large;
	color: #275783;
	}	
	
#showaccount h2 {
	font-size: large;
	font-variant: small-caps; 
	background-color: #c5d866;
	color: #275783;
	padding-left: 5px;
	border-radius: 	3px;
    box-shadow: 3px 3px 3px #888;
    float:none;
}

#showaccount ul {
	padding: 0px;
}

.products_row  .cell label {
	display:block;
}

.product_row {
	
}

.product-show-label {
	font-weight:bold;
	font-variant:small-caps;
	font-size:large;
	color:#777;	
}

.hidden {
	display:none;
}

.products_row .cell {
	display:inline; 
	vertical-align:top;
	border:none;
	margin-right:1em;
}


#showaccount li {
	list-style: none;
	margin:5px;
	margin-left:0px;
	padding:1px;
}


#showaccount #line1 {
	background-color: #f5ffd6;
}	

#showaccount #line2 {
	background-color: #f2faff;
}

.loading {
    background:url(../images/loading.gif) no-repeat top left;
    width: 36px;
    height: 36px;
}

.message {
    color:#090;
}

.div-round-border {
	border-color: black;
	border-style: solid;
	border-width: thin; 	
	border-radius: 	5px;
    box-shadow: 3px 3px 3px #888;
    margin: 0 20px 20px 0;
    height:auto;
    padding:10px 10px 10px 10px;
    width:auto;
    background-color: #EEE;
}

.listelements {
	border-color: black;
	border-style: solid;
	border-width: thin; 	
	width:100%;
}

div .list-big-element {
	font-size: x-large;
	background-color: #def1fa;
	border-color: #57afe6;
	border-style: dotted;
	border-width: thin; 
	padding-top: 3px;
    border-radius: 	5px;
    box-shadow: 3px 3px 3px #888;

}

#home {
	
}

.listelements th{
	background-color: lightgray;
	color:black;
	text-align: left;
}