html, body, form, fieldset {
    margin: 0;
    padding: 0;
}


button,
a.btn,
input[type="submit"],
input[type="reset"],
input[type="button"]{
font-family: "Trebuchet Ms", arial, verdana, sans-serif;
}



html, body {
    color: #000;
    background-color: #DDD;
    font-family: "Trebuchet Ms", arial, verdana, sans-serif;
    height: 100%;
    width: auto;
    
}

a img {
	border:none;
}


h2 {
	font-size: large;
	font-variant: small-caps; 
	}
	
.gtd-base {
	background-color: #EEE;
	border-color: #000;
	border-style: dotted;
	border-width: thin; 
	padding: 5px;
	border-radius: 	5px;
    box-shadow: 3px 3px 3px #888;
    float:left;
    width:30%;
}

.gtd-postit {
	background-color: #bbb;
	border-color: #bbb ;
	border-style: dotted;
	border-width: thin; 
	padding: 5px;
	border-radius: 	5px;
    box-shadow: 3px 3px 3px #888;
}

a {
    color: #4c9ac9;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#page {    
    background-color: #DDD;
    margin: 0; /* changed from 1em 5% */
}

#centerpane {
    padding-top: 1em;
	margin: 1em 1em 0 1em;
    background-color: white;
	border-width: thin;
	border-style: inset;
	border-color:black;
}

#content {
	padding: 5px;
}

#leftpane {
    width: 200px;
    position:relative;
    padding:0;
    margin:0;	
}

#footer {
	width:100%;
    text-align: center;
    color: #999;
    font-size: 85%;
	height: 35px;
	border-top:thin solid;
	vertical-align:middle;
	bottom:0px;
    position:fixed;
    background-color: #FFF;
    clear: both;
}
	
.clearfix {
	height:50px;
	clear:both;
}	


.warning {
	background-color: #FFAEAE;
	border-color: #c33;
	border-style: inset;
	border-width: thin;	
	margin:0 auto;
}

.no_data {
	background-color: #f2faff;
	border-color: #dae8f4;
	border-style: inset;
	border-width: thin;	
	margin:0 auto;
	font-style:italic;
	padding-left:3em;
}





#header a {
	color:white;
	}

#connexion {
    float:right;
    margin-top:-130px;
}



.headblock-element {
	background-color: #def1fa;
	border-color: #57afe6;
	border-style: dotted;
	border-width: thin; 
	padding: 5px;
	border-radius: 	5px;
    box-shadow: 3px 3px 3px #888;
	}
.headblock-element h1{
	margin: 0px;
	font-size: large;
	color: #275783;
	}	
	
#showaccount h2 {
	font-size: large;
	font-variant: small-caps; 
	background-color: #c5d866;
	color: #275783;
	padding-left: 5px;
	border-radius: 	3px;
    box-shadow: 3px 3px 3px #888;
    float:none;
}

#showaccount ul {
	padding: 0px;
}

.products_row  label {
	display:block;
}

.showcontact  label {
	display:block;
}
.products_row .cell {
	display:inline; 
	vertical-align:top;
	border:none;
	margin-right:1em;
}

.showcontact .cell {
	display:inline; 
	vertical-align:top;
	border:none;
	margin-right:1em;
}

.product-show-table {
	width:100%;
}

.product-show-label th{
	font-weight:bold
	font-variant:small-caps;
	font-size:medium;
	color:#777;	
	text-align:left;
}

.hidden {
	display:none;
}




#showaccount li {
	list-style: none;
	margin:5px;
	margin-left:0px;
	padding:1px;
}


#showaccount #line1 {
	background-color: #f5ffd6;
	clear:both;
}	

#showaccount #line2 {
	background-color: #f2faff;
	clear:both;

}

.loading {
    background:url(../images/loading.gif) no-repeat top left;
    width: 36px;
    height: 36px;
}

.message {
    color:#090;
}

.div-round-border {
	border-color: black;
	border-style: solid;
	border-width: thin; 	
	border-radius: 	5px;
    box-shadow: 3px 3px 3px #888;
    margin: 0 20px 20px 0;
    height:auto;
    padding:10px 10px 10px 10px;
    width:auto;
    background-color: #EEE;
}

.listelements {
	border-color: black;
	border-style: solid;
	border-width: thin; 	
	width:100%;
}

div .list-big-element {
	font-size: x-large;
	background-color: #def1fa;
	border-color: #57afe6;
	border-style: dotted;
	border-width: thin; 
	padding-top: 3px;
    border-radius: 	5px;
    box-shadow: 3px 3px 3px #888;

}

.show-list {
	text-align:justify; 
	margin-left:1em;
}

#home {
	
}

.listelements th{
	background-color: lightgray;
	color:black;
	text-align: left;
}


#header {
    margin: 0;
    width:100%;
    background-color: #234098;
    height: 30px;
    padding-left:0 0 0 5px  ;
    border-bottom: medium solid #57afe6;
    font-weight : bold; /* on met le texte en gras */
    font-family : Arial; /* on utilise Arial, c'est plus beau ^^ */
    font-size : 12px; /* hauteur du texte : 12 pixels */
}

#menu img {
	border:none;
	padding:0;
	margin:0;
	vertical-align:middle;	
}

#menu, #menu ul /* Liste */     
{
        padding : 0; /* pas de marge intérieure */
        margin : 0; /* ni extérieure */
        list-style : none; /* on supprime le style par défaut de la liste */
        line-height : 30px; /* on définit une hauteur pour chaque élément */
        text-align : center; /* on centre le texte qui se trouve dans la liste */
}

#menu /* Ensemble du menu */
{
        font-weight : bold; /* on met le texte en gras */
        font-family : Arial; /* on utilise Arial, c'est plus beau ^^ */
        font-size : 12px; /* hauteur du texte : 12 pixels */
}

#menu a /* Contenu des listes */
{
        display : block; /* on change le type d'élément, les liens deviennent des balises de type block */
        padding : 0; /* aucune marge intérieure */
        background : #234098; /* couleur de fond */        
        color : #fff; /* couleur du texte */
        text-decoration : none; /* on supprime le style par défaut des liens (la plupart du temps = souligné) */
        width : 110px; /* largeur */
}


#menu li /* Elements des listes */      
{ 
        float : left; 
        /* pour IE qui ne reconnaît pas "transparent" */
        border-right : 1px solid #234098; /* on met une bordure blanche à droite de chaque élément */
}

/* IE ne reconnaissant pas le sélecteur ">" */
html>body #menu li
{
        border-right: 1px solid transparent ; /* on met une bordure transparente à droite de chaque élément */
}

#menu li ul /* Sous-listes */
{ 
        position: absolute; /* Position absolue */
        width: 144px; /* Largeur des sous-listes */
        left: -999em; /* Hop, on envoie loin du champ de vision */
}


#menu li ul li /* Éléments de sous-listes */
{
        /* pour IE qui ne reconnaît pas "transparent" (comme précédemment) */
        border-top : 1px solid #234098; /* on met une bordure blanche en haut de chaque élément d'une sous liste */
}

/* IE ne reconnaissant pas le sélecteur ">" */
html>body #menu li ul li                
{
        border-top : 1px solid transparent; /* on met une bordure transparente en haut de chaque élément */
}

#menu li ul ul 
{
        margin    : -22px 0 0 144px ; /* On décale les sous-sous-listes pour qu'elles ne soient pas au dessus des sous-listes */ 
        /* pour IE qui ne reconnaît pas "transparent" (comme précédemment) */
        border-left     : 1px solid #fff ; /* Petite bordure à gauche pour ne pas coller ... */      
}

/* IE ne reconnaissant pas le sélecteur ">" ... je me répète ;-) */
html>body #menu li ul ul                
{
        border-left     : 1px solid transparent ; /* on met une bordure transparente sur la gauche de chaque élément */
}

#menu a:hover /* Lorsque la souris passe sur un des liens */    
{
        color: #234098; /* On passe le texte en noir... */
        background: #fff; /* ... et au contraire, le fond en blanc */
}


#menu li:hover ul ul, #menu li.sfhover ul ul /* Sous-sous-listes lorsque la souris passe sur un élément de liste */
{
        left: -999em; /* On expédie les sous-sous-listes hors du champ de vision */
}

#menu li:hover ul, #menu li li:hover ul, #menu li.sfhover ul, #menu li li.sfhover ul  /* Sous-listes lorsque la souris passe sur un élément de liste ET sous-sous-lites lorsque la souris passe sur un élément de sous-liste */
{
        left: auto; /* Repositionnement normal */
        min-height: 0; /* Corrige un bug sous IE */
}





