{% extends 'GuepeCrmBankBundle::layout.html.twig' %}

{% block title %}Téléchargez un fichier{% endblock %}

{% block content %}

<div class="hero-unit">
	<span class="element_title">Téléchargez un fichier</span class="element_title">

	<form action="" method="post" {{ form_enctype(form) }}>
		{{ form_widget(form) }}

		<input type="submit" value="Télécharger" />
	</form>
</div>
{% endblock %}
